.title-heading {
    font-family: 'anglorunic';
    font-size: xx-large;
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: fit-content;
    border-radius: 5px;
    background-color: #918E85;
    display: block;
}

.new-load-buttons {
    margin: auto;
    margin-top: 10px;
    width: fit-content;
}
div .new-load-buttons button {
    background-color: var(--button-bg-color);
    border: 2px solid var(--button-border-color);
    color: var(--button-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
div .new-load-buttons button:hover {
    border: 2px solid var(--button-hover-color);
}
div .new-load-buttons button:active {
    background-color: var(--button-click-color);
}