body {
    margin-top: 8%;
}

.title {
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
    border-bottom: 2px solid #61666A;
    background-color: #918E85;
    position: fixed;
    z-index: 1;
}

.title h1 {
    font-family: 'anglorunic';
    margin: 0;
    height: 100%;
    bottom: 8%;
    width: 100%;
    text-align: center;
    font-size: 8vh;
    position: absolute;
}

#content {
    margin: auto;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
}

#property-index-list {
    width: 35%;
}

#item-index-list {
    width: 35%;
}

#item-index-list .index-list .index-item[data-has-active-prop="true"] a::before {
    content: " • ";
    color: #f7ff5b;
}

#property-description-container {
    width: 30%;
    border: 2px double black;
    position: relative;
}
#description-area {
    width: calc(100% - 8px);
    height: 45%;
    resize: none;
    background-color: #bebbaf;
}

#property-options {
    display: flex;
    justify-content: space-evenly;
}
#property-options[hidden] {
    display: none;
}
#property-options > button {
    width: 40%;
}

#property-options-2 {
    display: flex;
    justify-content: space-evenly;
}
#property-options-2 > * {
    width: 40%;
}

#remove-property-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
#remove-property-container button {
    width: 50%;
    height: 100%;
    font-size: 100%;
}