body {
    margin-top: 8%;
}

.title {
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
    border-bottom: 2px solid #61666A;
    background-color: #918E85;
    position: fixed;
    z-index: 1;
}

.title h1 {
    font-family: 'anglorunic';
    margin: 0;
    height: 100%;
    bottom: 8%;
    width: 100%;
    text-align: center;
    font-size: 8vh;
    position: absolute;
}

#content {
    margin: auto;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
}

#property-index-list {
    width: 35%;
}

#item-index-list {
    width: 35%;
}

#item-index-list .index-list .index-item[data-has-active-prop="true"] a::before {
    content: "◂";
    color: #2C0E8C;
}

#property-description-container {
    width: 30%;
    border: 2px double black;
}
#description-area {
    width: calc(100% - 8px);
    height: 45%;
    resize: none;
    background-color: #bebbaf;
}

#property-options {
    display: flex;
    justify-content: space-evenly;
}

#property-options element {
    width: 20%;
}